# ----------------------
# Node / Express
# ----------------------
node_modules/
npm-debug.log*
yarn-error.log*

# ----------------------
# Environment variables
# ----------------------
.env
.env.*
config/.env*
config/*.env

# ----------------------
# Build / cache
# ----------------------
dist/
build/
.cache/

# ----------------------
# OS / Editor
# ----------------------
.DS_Store
Thumbs.db

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# ----------------------
# Logs
# ----------------------
logs/
*.log

# ----------------------
# History / temp
# ----------------------
.history/